<?xml version='1.0' encoding='utf-8'?>
<widget id="com.leonelgregioauler.contadorpessoaswifi" version="2025.250215.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>neo3001w</name>
    <description>
        Aplicativo Contador de Pessoas - Comunicação WIFI com placa controladora com Arduíno
    </description>
    <author email="leonel.lga@gmail.com" href="https://cordova.apache.org">
        LGA - Leonel Gregio Auler
    </author>
    <plugin name="cordova-plugin-device" spec="*" />
    <plugin name="cordova-plugin-inappbrowser" spec="*" />
    <plugin name="cordova-plugin-network-information" spec="*" />
    <plugin name="cordova-plugin-dialogs" spec="*" />
    <plugin name="cordova-plugin-networkinterface" source="npm" />
    <plugin name="cordova-plugin-file" spec="*" />
    <plugin name="cordova-plugin-splashscreen" spec="*" />
    <plugin name="cordova-plugin-saf-mediastore" spec="*" />
    <plugin name="cordova-sqlite-storage" spec="*" />

    <preference name="AndroidExtraFilesystems" value="files,files-external,documents,sdcard,cache,cache-external,assets,root" />
    <preference name="AndroidInsecureFileModeEnabled" value="true" />

    <content src="index.html" />

    <access origin="*" />

    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <allow-intent href="file:*" />
    <allow-intent href="asset:*" />

    <allow-navigation href="file://*" />
    <allow-navigation href="asset://*" />

    <engine name="android" />
    <engine name="browser" />

    <platform name="android">
        <preference name="android-minSdkVersion" value="24" />
        <preference name="Fullscreen" value="true" />
        <preference name="AndroidWindowSplashScreenAnimatedIcon" value="res/screen/android/logo-digitaq.png" />
        <preference name="AndroidWindowSplashScreenAnimationDuration" value="3000" />
        <preference name="SplashScreenDelay" value="2000" />
        <preference name="AutoHideSplashScreen" value="true" />
        <preference name="FadeSplashScreen" value="false" />
        <preference name="FadeSplashScreenDuration" value="750" />

        <icon height="36" src="res/icon/android/icon-ldpi.png" width="36" />
        <icon height="48" src="res/icon/android/icon-mdpi.png" width="48" />
        <icon height="72" src="res/icon/android/icon-hdpi.png" width="72" />
        <icon height="96" src="res/icon/android/icon-xhdpi.png" width="96" />
        <icon height="144" src="res/icon/android/icon-xxhdpi.png" width="144" />
        <icon height="192" src="res/icon/android/icon-xxxhdpi.png" width="192" />
    </platform>
</widget>
