<br>
<br>
<h6>
    <div><oj-bind-text value="[[mensagemInfo1]]"></oj-bind-text></div>
    <div><oj-bind-text value="[[mensagemInfo2]]"></oj-bind-text></div>
    <p></p>
    <p><oj-bind-text value="[[mensagemItem8]]"></oj-bind-text></p>
    <p><oj-bind-text value="[[mensagemItem9]]"></oj-bind-text></p>
    <p><oj-bind-text value="[[mensagemItem10]]"></oj-bind-text></p>
    <p><oj-bind-text value="[[mensagemItem11]]"></oj-bind-text></p>
    <p><oj-bind-text value="[[mensagemItem12]]"></oj-bind-text></p>
    <br>
</h6>